.filter-menu 
    .filter-menu__header
        span.filter-menu__header__title Filtros 
        button.icon.close.filter-menu__header__icon
        
    .filter-menu__body   
        form
            .filter-menu__body__sec1
                .filter-menu__body__title1 No. de póliza
                select.filter-menu__body__select1
                    option Todas las pólizas
                    option Opción 2
                    option Opción 3
                    option Opción 4
                span.icon.chev-down-policy.filter-menu__body__chevDown1
            .filter-menu__body__sec2
                .filter-menu__body__title2 Nombre del riesgo
                input.filter-menu__body__input1(
                    type="text"
                    placeholder="Introduce el nombre del riesgo"
                )
                span.filter-menu__body__error-name-risk

            .filter-menu__body__sec3
                .filter-menu__body__title3 Fecha de validez
                .filter-menu__body__date-range
                    .filter-menu__body__date-field
                        input.filter-menu__body__input2(
                            type="text"
                            placeholder="Fecha inicio"
                        )
                        span.icon.calendar
                    span.separation al
                    .filter-menu__body__date-field
                        input.filter-menu__body__input3(
                            type="text"
                            placeholder="Fecha fin"
                        )
                        span.icon.calendar
                span.filter-menu__body__error-date

            .filter-menu__body__sec4
                .filter-menu__body__title4 Importe
                input.filter-menu__body__input4(
                    type="number"
                    placeholder="Introduzca importe"
                )
            .filter-menu__body__sec5
                .filter-menu__body__title5 Estado
                select.filter-menu__body__select2
                    option Todos los estados
                    option Opción 2
                    option Opción 3
                    option Opción 4
                span.icon.chev-down-status.filter-menu__body__chevDown2

    .filter-menu__bottom 
        button.filter-menu__bottom__clear Borrar filtros
        button.filter-menu__bottom__apply Aplicar filtros


    