mixin renovation-card-desktop(policy, risk, dateContrat, dateMaturity, price, stateHeader)
    .renovation-card-desktop
        .renovation-card-desktop__policy= policy
        .renovation-card-desktop__risk= risk
        .renovation-card-desktop__date-contrat= dateContrat
        .renovation-card-desktop__date-maturity= dateMaturity
        .renovation-card-desktop__price= price
        .state-cell
            .renovation-card-desktop__state= stateHeader
                block
                
mixin state-policy(icon, text)
    .state
        span.state__icon.icon(class=icon)
        span.state__text= text

mixin last-policy(emision, period, price, state)
    .last-policy
        .last-policy__emision= emision
        .last-policy__period= period
        .last-policy__import= price
        .state-cell
            .renovation-card-desktop__state= state
                block